<div class="container" >
<div class="row recipe-view" >
  <button type="button" class="btn btn-success recipe-button">New Recipe</button>
    <p class="recipe-adjust">Please Select Recipe</p>
</div>
<div class="row">
 <div class="col-md-6">
   <ul style=" list-style-type: none;">
     <li>Idly</li>
     <li>Puri</li>
   </ul>
 </div>
 <div class="col-md-6"></div>
 
</div>
<div class="row">
  <p>Okay</p>
</div>
</div>